<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1><%=` Olá ${usuario.nome} você está na `%>Lista produtos</h1>
<ul>
    <% listaProdutos.forEach(produto => { %>
        <li><%= (`Nome do produto: ${produto.nome} || Preço do preoduto: ${produto.preco}`)%>
            <form action="/produtos/deletar/<%=produto.id%>?_method=DELETE" method="POST">
                <button type="submit">DELETAR</button>
            </form>
        </li>
    <% }) %>
</ul>
</body>
</html>