<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Cadastro de Produto</h1>
<form action="/produtos/criar" method="post">
    <label for="nomeProduto">Nome do produto:</label>
    <input type="text" name="nomeProduto" id="nomeProduto">
    <label for="precoProduto">Preco do produto:</label>
    <input type="number" name="precoProduto" id="precoProduto">
    <button type="submit">Enviar</button>
</form>
</body>
</html>